@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

$mainColor:#F6F6F6;
$mainBlue:#0d0d0d;
$mainOrange:#EBA017;
$mainLight:#E2E2E2;

$headerFont:'Quicksand', sans-serif;