@import 'main';
 

.main{
    margin-top: 0.125rem;
    margin-right: 16px;
    height: 19rem;
    min-width: 180px;
    cursor: pointer;
    display: flex;

}

.imdb{
    font-size:larger;
    color: $mainOrange;
}

.title{
    font-family: $headerFont; 
    text-transform: uppercase;
    background-color: $mainLight;
    padding: 10px;
    border-left: $mainColor 1px solid;
    font-weight: 600;
 }